<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Demo Quiz</title>

        <!-- Styles -->

        <link href="/styles/bootstrap.min.css" rel="stylesheet">
        <link href="/styles/style.css" rel="stylesheet">
    </head>
    <body>