<% include ./header.ejs %>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                Quiz Application (Built with NodeJS, Express, MongoDB, Mongoose)
            </div>
            <div class="card-body">
                <h5 class="card-title">Demo Quiz</h5>
                <a href="/quiz" class="btn btn-primary">Start</a>
            </div>
            <div class="card-footer text-muted">
                &nbsp;
            </div>
        </div>
    </div>
    <% include ./footer.ejs %>